@model List<OurService>
<section class="w3l-grids-3hny py-5" id="grids1">
	<div class="container py-lg-5 py-md-3">
		<div class="wthree-header-section text-center">
			<h6 class="title-subw3hny">Hizmetlerimiz</h6>
			<h3 class="title-w3l mb-4">Neler Sunuyoruz</h3>
		</div>
		<div class="grids-of-3 row text-center">
		@foreach (var item in Model)
		{
			
				<div class="col-lg-4 col-md-6 mt-5">
					<div class="grids3-info">
						<a href="#service" class="d-block zoom"><img src=@item.ImageUrl alt="" class="img-fluid radius-image"></a>
						<div class="grids-of-3-saas-info">
							<h5><a href="#service" class="title">@item.Services</a></h5>
							<p class="saas-para">
								@item.Description
							</p>
						</div>
					</div>
				</div>
		}
		</div>
	</div>
</section>
