@model List<Testimonial>
<section class="w3l-testimonials" id="testimonials">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 py-2 pb-lg-0">
            @foreach (var item in Model)
            {
            <h5 class="title-subw3hny text-center mb-1">@item.Title1</h5>
            <h3 class="title-w3l two text-center mb-sm-5 mb-4">@item.Title2</h3>
            <!-- /grids -->
                <div class="testimonial-width">
                    <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <i class="fas fa-quote-right"></i>
                                    <blockquote>
                                        <q>
                                            @item.Description
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="/Agrowfarm-Starter/assets/images/team1.jpg" class="img-fluid" alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>John wilson</h3>
                                            <p class="indentity">Example City</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
            }
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>