@model List<VideoBanner>
<section class="w3l-index5 py-5" id="about">
    <div class="new-block py-md-5 py-3">
        <div class="container">
            <div class="row middle-section align-self">
                @foreach (var item in Model)
                {
                    <div class="col-lg-7 video-info pe-lg-5">
                        <div class="title-content text-left">
                            <h6 class="title-subw3hny">@item.Title1</h6>
                            <h3 class="title-w3l two pe-lg-5">@item.Title2 </h3>
                            <p class="mt-3 pe-lg-5">
                                @item.Descripton
                            </p>
                            <a href="contact.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Daha Fazlası İçin</a>
                        </div>
                    </div>

                }
                <div class="col-lg-5 history-info mt-5 ps-lg-5 align-self">
                    <div class="position-relative mt-lg-0 mt-5 pt-lg-0 pt-5 pb-lg-0 pb-5">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
